<a href="https://colab.research.google.com/github/Davis-Tony/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/TonyDavis_DS_122_Chi2_Tests_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Assignment - Practice Chi^2 Tests

Use the following dataset relating to math scores of students in two different Portugese schools:

<https://archive.ics.uci.edu/ml/datasets/Student+Performance>

### 1) Load the dataset specifically relating to math scores as a new dataframe.

There are two datasets in the `student.zip` file, make sure you use `student-mat.csv`.

In [39]:
# imports
from scipy.stats import ttest_ind, ttest_1samp, stats, chisquare
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [20]:
#reading in data
student = pd.read_csv('student_mat.csv', sep=';')
student.head()

  school sex  age address famsize Pstatus  ...  Walc  health absences  G1  G2  G3
0     GP   F   18       U     GT3       A  ...     1       3        6   5   6   6
1     GP   F   17       U     GT3       T  ...     1       3        4   5   5   6
2     GP   F   15       U     LE3       T  ...     3       3       10   7   8  10
3     GP   F   15       U     GT3       T  ...     1       5        2  15  14  15
4     GP   F   16       U     GT3       T  ...     2       5        4   6  10  10

[5 rows x 33 columns]

### 2) Use Chi^2 tests and `stats.chi2_contingency()` to identify:
 - Two pairs of variables that are dependent (are associated with one another).
 - Two pairs of variables that are independent (have no significant relationship).

Does it make intuitive sense why the variables in these pairs might or might not show a relationship to one another?

In [23]:
# YOUR WORK HERE
# Checking failure count
#Null hypo is there is no connection between failures and absences
student['failures'].value_counts()

0    312
1     50
2     17
3     16
Name: failures, dtype: int64

In [25]:
# Checking absence count
student['absences'].describe()

count    395.000000
mean       5.708861
std        8.003096
min        0.000000
25%        0.000000
50%        4.000000
75%        8.000000
max       75.000000
Name: absences, dtype: float64

In [28]:
#Creating bins based on absence rate
cut_points=[0,4,8,75]
student['absence_rate']=pd.cut(student['absences'], cut_points, labels=['lo', 'med', 'hi'])
student['absence_rate'].value_counts().sort_index()

lo     129
med     65
hi      86
Name: absence_rate, dtype: int64

In [30]:
#creating crosstab
xtab = pd.crosstab(student['failures'], student['absence_rate'], margins=True)
xtab

absence_rate   lo  med  hi  All
failures
0             114   52  57  223
1               9    6  21   36
2               3    4   5   12
3               3    3   3    9
All           129   65  86  280

In [41]:
#Runnning ChiSquare
chisquare(xtab, axis=None)

Power_divergenceResult(statistic=2049.5714285714284, pvalue=0.0)

In [ ]:
#Null hypo rejected because pvalue close to zero

##Finding unrelated variables

In [ ]:
#Null hypo is there is no connection between travel time and home internet access

In [48]:
#checking counts for travel time
student['traveltime'].value_counts()

1    257
2    107
3     23
4      8
Name: traveltime, dtype: int64

In [43]:
#checking counts for home internet access
student['internet'].value_counts()

yes    329
no      66
Name: internet, dtype: int64

In [49]:
#create bins for travel time
cut_points2=[0,2,4]
student['travel_cats']=pd.cut(student['traveltime'], cut_points2, labels=['lo', 'hi'])
student['travel_cats'].value_counts()

lo    364
hi     31
Name: travel_cats, dtype: int64

In [50]:
#creating crosstab
xtab2 = pd.crosstab(student['travel_cats'], student['internet'], margins=True)
xtab2

internet     no  yes  All
travel_cats
lo           58  306  364
hi            8   23   31
All          66  329  395

In [51]:
#Running chisquare
chisquare(xtab2, axis=None)

Power_divergenceResult(statistic=1266.2329113924052, pvalue=4.670635250854732e-268)

### 3) Use NumPy to perform your own chi^2 test "from scratch" 

Pick any of the chi^2 tests that you ran in part 2 and try them on your own. You should get the same results that Scipy got for all four values returned from `chi2_contingency()`

In [ ]:
# YOUR WORK HERE

## Stretch goals:

### 1. Refactor your code so it is elegant, readable, and holds reusable code in functions.

In [ ]:
# YOUR WORK HERE



### 2. Check For Understanding - Study and write your own explanations/definitions for these topics:

- What is a sample "estimate" in statistics?

- What are hypothesis test? How are they useful?

- What is a "null hypothesis?"

- What is a p-value and what does it represent?

- What does it mean for something to be "statistically significant?"

- What is a test statistic and how does it relate to a p-value?

- What are "degrees of freedom" and how are they calculated in a 1-sample, 2-sample, and chi^2 test for independence?

## Resources

- [Interactive visualize the Chi-Squared test](https://homepage.divms.uiowa.edu/~mbognar/applets/chisq.html)
- [Calculation of Chi-Squared test statistic](https://en.wikipedia.org/wiki/Pearson%27s_chi-squared_test)
- [Visualization of a confidence interval generated by R code](https://commons.wikimedia.org/wiki/File:Confidence-interval.svg)
- [Expected value of a squared standard normal](https://math.stackexchange.com/questions/264061/expected-value-calculation-for-squared-normal-distribution) (it's 1 - which is why the expected value of a Chi-Squared with $n$ degrees of freedom is $n$, as it's the sum of $n$ squared standard normals)